/* HELPERS */
.hidden {
    text-indent: -9999px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.relative {
    position: relative;
}
.ovy-hidden {
    overflow-y: hidden;
}

.hinherit {
    height: inherit;
}

.ov-hidden {
    overflow: hidden;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/*////////*/
/* Global */

body {
    margin: 0;
    font-family: "Calibri", sans-serif;
    padding: 0;
}
a {
    text-decoration: none;
}
.imovel a {
    display:block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}



/*/////////*/
/* Header */




.logo {
    padding: 0;
    position: absolute;
    top: 178px;
    left: 136px;
    font-weight: 500;
}

.linklogo {
    color: #3f48cc;
    text-decoration: none;
    font-size: 75px;
    padding: 0;
}



.mainheader {
    position: relative;
    height: 250px;
    border-bottom: 5px solid #00a2e8;
}

.logo:before {
    content: '';
    display: block;
    background: url('../images/logo.png');
    width: 452px;
    height: 255px;
    top: -178px;
    left: -134px;
    position: absolute;
}
.middle {
    width: 900px;
    margin: 0 auto;
}

.slogan {
    margin: 0;
    position: absolute;
    top: 0;
    font-size: 44px;
    color: #3f48cc;
}

.contato {
    color: #3f48cc;
    margin: 50px 0 0 340px;
    list-style-type: none;
    padding: 0;
    font-size: 21px;
}

.contato p {
    margin: 0
}
.sobreap p {
    color: white;
    font-size: 28px;
}

.contato li {
    margin: 0px 0 29px 0;
    position: relative;
}
.contatos li:nth-child(2) {
    margin: 0 0 0 50px;
}
.contatos li:nth-child(3) {
    margin: 0 0 0 100px;
}
.contatos li:nth-child(4) {
    margin: 0 0 0 150px;
}


.sk:before {
    background: url('../images/skype.png') no-repeat;
}

.fb:before {
    background: url('../images/facebook.png') no-repeat;
}

.spcont:before {
    width: 50px;
    height: 50px;
    top: -13px;
    left: -54px;
    content: ' ';
    display: block;
    position: absolute;

}

.email:before {
    background: url('../images/email.png') no-repeat;
}
.spcont a {
    text-decoration: none;
    color: #3f48cc;
}

.telefones {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
    width: 9999px;
    position: absolute;
    left: 570px;
    overflow: hidden;
    top: 0px;
}
.telefones li {
    width: 100%;
    display: block;
    padding: 10px 30px;
    margin: 10px 0;
    background-color: #3f48cc;
    color: white
}
.telefones li:nth-child(2) {
    margin: 10px 0 0 50px;
}

.telefones li:nth-child(3) {
    margin: 10px 0 0 100px;
}

.telefones li:nth-child(4) {
    margin: 10px 0 0 150px;
}

.navigation {
    position: absolute;
    bottom: 0px;
    left: 435px;
    float: right;
    background: #00a2e8;
    display: block;
    width:9999px;
    padding: 0 0 0 7px;
    height: 50px;
}
.navigation:before {
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    border: 50px solid;
    border-color: #00a2e8 transparent transparent transparent;
    left: -50px;
    content: ' ';
    z-index: -1;
}

.menu li {
    display: block;
    float: left;
    text-align: center;
    line-height: 25px;
    margin: 5px 0 0 0;
    padding: 3px 10px 3px 10px;
    border-right: 3px solid white;
}
.menu li:last-child {
    border: 0;
}
.menu li a {
    color: white;
}


.menu {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 45px;
    margin-left: -15px;
}


.menu-wrapper {
    height: 50px;
}



.main {
    margin: 60px auto 0 auto;
}

.sobreap {
    position: absolute;
    bottom: 5px;
    margin: 0;
    padding: 25px 0px 0 25px;
    width: 430px;
    height: 170px;
    background-color: rgba(0,0,0,0.5);
}


.slider {
    position: relative;
}

.sobreap h1 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 100;
    padding: 0;
}

.construcao h1 {
    line-height: 40px;
    font-weight: 100;
    font-size: 24px;
}

.ap {
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}
.slide {
    position: absolute;
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}
.slide.ativo {
    opacity: 1;
}
.paginador {
    background-color: white;
}
.paginador.ativo {
    background-color: black;
}

.navslider .paginador {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}
.navslider .paginador:hover {
    background-color: black;
    cursor: pointer;
}

.navslider {
    position: absolute;
    bottom: 0;
    width: 84px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 27px;
}

.buscasession header {
    background-color: #00a2e8;
    color: white;
    text-align: right;
    width: 9999px;
}

.buscasession h1 {
    font-weight: 100;
}

.buscasession {
    background-color: #3f48cc;
    margin: 20px 0;
    padding: 10px 0;
}

.select {
    display: inline-block;
    width: 157px;
    height: 34px;
    overflow: hidden;
    background: url('../images/setabaixo.png') no-repeat 130px white;
    margin: 0 0 0 15px;
}
.select select {
    background: white;
    width: 120px;
    padding: 5px;
    font-size: 24px;
    line-height: 1;
    color: #676767;
    font-family: "Calibri", sans-serif;
    border: 0;
    border-radius: 5px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.valor {
    border: 0;
    padding: 07px;
    width: 152px;
    height: 35px;
    position: absolute;
    top: -1px;
    font-size: 24px;
    font-family: 'Calibri', sans-serif;
    margin: 0 0 0 0;
    box-sizing: border-box;
}

#valormax {
    right: 55px;
}
#valormin {
    right: 215px;
}
::-webkit-input-placeholder {
    color: #676767;
    font-family: 'Calibri', sans-serif;
    font-size: 24px;
}

:-moz-placeholder { /* Firefox 18- */
    color: #676767;
    font-family: 'Calibri', sans-serif;
    font-size: 24px;

}

::-moz-placeholder {  /* Firefox 19+ */
    color: #676767;
    font-family: 'Calibri', sans-serif;
    font-size: 24px;

}

:-ms-input-placeholder {
    color: #676767;
    font-family: 'Calibri', sans-serif;
    font-size: 24px;

}
.escondebusca {
    width: 40px;
    position:absolute;
    right: 0;
    top: 0;
    height: 36px;
}

.buscasp {
    background: url('../images/lupa.png') no-repeat #00a2e8;
    position: absolute;
    right: 0;
    border: 0;
    cursor: pointer;
    top: 0;
    width: 39px;
    height: 39px;
}

.construcao {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: 220px;
    color: white;
    text-align: right;
    background: #00a2e8;
    display: block;
    width: 9999px;
    padding: 0 0 0 7px;
    height:45px;
}

.construcao:before {
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    border: 45px solid;
    border-color: #00a2e8 transparent transparent transparent;
    right: -45px;
    top: 0;
    content: ' ';
    z-index: -1;
}

.construcao-wrapper {
    border-top: 5px solid #00a2e8;
    margin-bottom: 50px;
}

.imovel {
    margin-right: 36px;
}
.imovel:last-child {
    margin-right: 0;
}

.imoveis {
    margin-top: 60px;
    border-collapse: collapse;
}

.imovel header {
    text-align: center;
}

.imovel img {
    border: 1px solid black;
    padding: 3px
}

.footer {
    color: white;
    background-color: #00a2e8;
    font-size: 25px;
}

.creci {
    margin-top: 4px;
    margin-left: 25px;
}

.sobre {
    margin: 50px 0;
}

.footercontato li {
    float: left;
    margin: 5px;
    font-size: 25px;
}
.footercontato {
    width: 350px
}

.footer p {
    font-size: 25px;
}



.pronto {
    padding-right: 70px;
}

.logofooter {
    position: absolute;
    bottom: 80px;
    right: 0;
    color: #3f48cc;
}
.logofooter:before {
    background: url('../images/logofooter.png') no-repeat;
    position: absolute;
    display: block;
    width: 232px;
    height: 132px;
    content: '';
    top: -80px;
    left: -65px;
}

.footer h3 {
    font-weight: 100;
    text-align: center;
}
.logofooter p {
    position: absolute;
    width: 201px;
    right: 0px;
    top: 50px;
}
.logofooter h1 {
    font-weight: 100;
}
.faixa-bottom {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: 280px;
    color: white;
    text-align: right;
    background: #00a2e8;
    display: block;
    width: 9999px;
    height:50px;

}

.faixa-bottom:before {
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    border: 45px solid;
    border-color: transparent #00a2e8 transparent transparent;
    left: -90px;
    top: 0px;
    content: ' ';
    z-index: -1;
}

.faixa-bottom-wrapper {
    height: 50px;
}

.white {
    background-color: white !important;

}

.imoveis th {
    background-color: #3f48cc;
    color:white;
    font-weight: 100;
    font-size: 20px;
    width: 110px;
    text-align: center;
    border-right: 3px solid white;
    border-bottom: 10px solid white;
    border-top: 15px solid white;
}

.imoveis td {
    text-align: center;
    margin: 12px;
    color: white;
    width: 112px;
    font-size: 18px;
}

.imoveis tr {
    border-bottom: 5px solid white;
}

.listaimoveis {
    background-color: #00a2e8;
    margin-top: 10px;
}

.whitetd {
    padding: 10px;
}

.lista {
    margin-top: 40px;
}

.resultpagina {
    color: white !important;
    margin-top: 35px;
}
.resultpagina li {
    background-color: #3f48cc;
    margin: 0 5px;
}
.resultpagina a {
    color: white;
    display: inline-block;
    padding: 3px 5px;
}

.resultpagina li {
    float: left;
    font-size: 20px;
    padding: 5px;
}
.resultpagina li:hover, .resultpagina li.active {
    background-color: #00a2e8;
}

.resultpagina li:first-child {
    background-color: white;
    color: #3f48cc !important;

}

.resultpagina li a:hover {
    text-decoration: none;
}

.pretencao {
    padding: 0 5px !important;
}

.qts {
    padding: 0 5px !important;
}

.sts {
    margin: 0 5px;
}

.paginacao {
    text-align: center;
    margin: 15px 0 150px 0;
}
.paginacao li {
    display: inline-block;
    margin: 0 auto;

}
.paginacao li button {
    font-size: 22px;
    display: block;
    width: 35px;
    line-height: 35px;
    background-color: #3f48cc;
    border: 0;
    color: white;
}
.paginacao li button:hover {
    background-color: #00a2e8;
}

.detalheslider {
    margin: 0 auto;
    width: 900px;

}


.topo {
    height: 493px;
    margin-top: 75px;
}

.paginador-detalhe {
    display: inline-block;
    border: 1px solid black;
}

.listapaginador {
    margin-top: 10px;
    width: 9999px;
}

.active:after {
    position:absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: black;
}

.apartamentos {
    height: 410px;
}

.seta {
    position: absolute;
    top: 50%;
    margin-top: -155px;
    font-size: 185px;
    line-height: 185px;
    color: white;
    font-weight: bolder;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.seta:hover {
    color: #123;
}

.prev {
    left: 13px;
}

.next {
    right: 13px;
}

.nav_list {
    position: absolute;
    top: 30px;
    height: 1px;
    font-size: 60px;
    width: 100%;
}
.nav_list li {
    display: inline-block;
}
.nav_list li a {
    color: black;
}

.detalhamento {
    margin-top: 40px;
}
.desc, .detalhamento p, .detalhamento li {
    color: #3f48cc;
    font-size: 1em;
    font-weight: normal;
}
.desc {
    margin-bottom: 10px;
}
.adicionais {
    margin: 30px 0;
}

.desc-wrapper {
    margin-top: 50px;
}

.link-contato {
    background: #00a2e8;
    display: block;
    color: white;
    line-height: 40px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 0px #3f48cc;
}

.modal-content {
    background-color: #00a2e8;
}
.modal-header {
    color: white;
}

.modal-header h1, .modal-header p {
    font-size: 21px;
    text-align: center;
    margin: 15px;
}

.modal-header .close {
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal-body input, .modal-body textarea {
    font-size: 20px;
    border-radius: 0;
    margin: 20px 0;
}

.enviar {
    margin: -6px 0 0 0 !important;
    background: #3f48cc;
    border: 0;
    color: white;
    font-size: 24px;
    float: right;
    padding: 10px 50px;
}

.enviar:hover {
    text-decoration: underline;
}
.modal-body .cancelar {
    background: #ff3232;
    color: white;
    padding: 10px 30px;
    font-size: 24px;
}

.viewChange {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.viewChange.ng-enter {
    opacity: 0;
}

.viewChange.ng-active {
    opacity: 1;
}

.viewChange.leave {
    opacity: 1;
}

.viewChange.ng-leave-active {
    opacity: 0;
}