<section class="slider detalheslider">
    <div class="topo">
        <article class="foto slide" ng-class="{ ativo: $first}" ng-repeat="foto in imovel.fotos">
            <figure class="figure item">
                <img ng-src="media/{{ foto.imagem }}" width="900" height="493" alt="Foto">
            </figure>
        </article>        
        <div class="controles">
            <a href="javascript:;" class="prev seta"> &lt; </a>
            <a href="javascript:;" class="next seta"> &gt; </a>
        </div>
    </div>
    <div class="baixo">
        <div class="window ov-hidden">
            <ul class="listapaginador">
                <li class="paginador paginador-detalhe active" data-val="{{ $index }}" ng-repeat="foto in imovel.fotos">
                    <figure class=""><img ng-src="media/{{ foto.imagem }}" width="163" height="112" alt=""></figure>
                </li>
            </ul>
            <div class="setas">
                <ul class="nav_list">
                    <li class="nav_item left">
                        <a href="javascript:;" class="pagprev"> &lt; </a>
                    </li>
                    <li class="nav_item right">
                        <a href="javascript:;" class="pagnext"> &gt; </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="relative construcao-wrapper detalhamento cf">
    <div class="construcao">
        <header>
            <h1>Detalhamento</h1>
        </header>
    </div>
    <div class="middle">
        <div class="desc-wrapper">
            <h2 class="desc">Descrição</h2>
            <p>
                {{ imovel.descricao }}
            </p>
        </div>
        <div class="left">
            <ul>
                <li><ng-pluralize count="imovel.quartos" when="{'one': '1 quarto', 'other': '{} quartos'}"></ng-pluralize></li>
                <li><ng-pluralize count="imovel.suites" when="{'one': '1 suite', 'other': '{} suites'}"></ng-pluralize></li>
                <li><ng-pluralize count="imovel.vagas" when="{'one': '1 vaga', 'other': '{} vagas'}"></ng-pluralize> na garagem</li>
            </ul>
            <br>
            <p class="add">Informações Adicionais</p>
            <ul class="adicionais">
                <li ng-repeat="adicional in imovel.adicionais">{{ adicional }}</li>
            </ul>
            
            <p class="preco">{{ imovel.valor_num | currency:"R$"}}</p>
        </div>
        <div class="right contato caixa">
            <a class="link-contato" id="contato" href="javascript:;" ng-click="modal()">Entre em contato</a><br>
            <a class="link-contato" href="javascript:;">Simule pela caixa</a>
        </div>
    </div>  
</section>
