<section class="middle main apartamentos">
    <div style="height: 1000px;">
        <carousel interval="interval">
            <slide ng-repeat="slide in slides" active="slide.active" >
              <a href="{{ slide.url }}" style="color: white; text-decoration: none;">
                <img ng-src="media/{{ slide.imagem }}" style="margin: auto;" alt=""/>
                <div class="carousel-caption">
                        <h1>{{ slide.texto1 }}</h1>
                        <p>{{ slide.texto2 }}</p>
                </div>
              </a>
            </slide>
        </carousel>
    </div>
</section>
<section class="buscasession">
    <div class="ov-hidden">
        <div class="middle relative">
            <form ng-submit="busca(filtro)">
                <div class="select">
                    <select ng-model="filtro.pretencao" ng-options="p.valor as p.nome for p in pretencoes" class="pretencao">
                        <option value="">Pretenção</option>
                    </select>
                </div>
                <div class="select">
                    <select ng-change="escolheCidade(filtro.bairro.cidade.id)" ng-model="filtro.bairro.cidade" ng-options="c.nome for c in cidades" class="pretencao">
                        <option value="">Cidades</option>
                    </select>
                </div>
                <div class="select">
                    <select ng-disabled="!filtro.bairro.cidade" ng-model="bairro" ng-options="b for b in bairros" class="pretencao">
                        <option value="">Bairro</option>
                    </select>
                </div>
                <input type="text" ng-model="filtro.valormin" name="valormin" id="valormin" class="valor" placeholder="Valor Minimo">
                <input type="text" ng-model="filtro.valormax" name="valormin" id="valormax" class="valor" placeholder="Valor Maximo">
                <input type="submit" value="" class="sprite buscasp">
            </form>
        </div>
    </div>
</section>
<section class="relative construcao-wrapper cf">
    <div class="construcao">
        <header>
            <h1>Imóveis Em Construção</h1>
        </header>
    </div>
    <div class="middle imoveis cf">
        <article class="imovel left" ng-repeat="imovel in lancamentos | limitTo: 4">
            <figure>
                <a href="#/imovel/{{ imovel.id }}"><img width="190" height="190" ng-src="media/{{ imovel.imagem }}" alt="Foto"></a>
                <figcaption>
                    <header>
                        <p>{{ imovel.bairro.nome }}</p>
                        <h2>{{ imovel.bairro.cidade.nome }}</h2>
                        <p>{{ imovel.valor_num | currency:"R$" }}</p>
                    </header>
                </figcaption>
            </figure>
        </article>
    </div>
</section>
<section class="relative construcao-wrapper cf">
    <div class="construcao pronto">
        <header>
            <h1>Imóveis Prontos</h1>
        </header>
    </div>
    <div class="middle imoveis">
        <article class="imovel left" ng-repeat="imovel in construcao | limitTo: 4">
        <figure>
                <a href="#/imovel/{{ imovel.id }}"><img width="190" height="190" ng-src="media/{{ imovel.imagem }}" alt="Foto"></a>
                <figcaption>
                    <header>
                        <p>{{ imovel.bairro.nome }}</p>
                        <h2>{{ imovel.bairro.cidade.nome }}</h2>
                        <p>{{ imovel.valor_num | currency:"R$" }}</p>
                    </header>
                </figcaption>
            </figure>

        </article>
    </div>
</section>
