<header class="modal-header">
    <h1>Gostou do Imóvel? Tem alguma dúvida?</h1>
    <p>Entre em contato através deste formulário que nós responderemos suas perguntas.</p>
    <button type="button" class="close" ng-click="dismiss()">&times;</button>
</header>
<section class="modal-body">
    <div>
        <form action="#">
            <input type="text" class="form-control"  name="Nome" id="nome" placeholder="Nome">
            <input type="text" name="telefone" class="form-control" placeholder="Telefone para contato">
            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail">
            <textarea name="mensagem" id="mensagem" cols="30" class="form-control" rows="10" placeholder="Deixe sua mensagem aqui..."></textarea>
            <a href="javascript:;" ng-click="dismiss()" class="cancelar">Cancelar</a>
            <input class="enviar" type="submit" value="Enviar">
        </form>
    </div>
</section>